.interiors__grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 24%;
  justify-items: center;
  gap: 2px;
}

@media screen and (max-width: 767px) {
  .interiors__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
