.footer__column_content_info {
  flex-basis: 470px;
}

@media screen and (max-width: 1024px) {
  .footer__column_content_info {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__column_content_info {
    margin-bottom: 40px;
  }
}
