.logo_place_footer {
  background-image: url(../../../images/Logo-footer.svg);
  width: 229px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 475px) {
  .logo_place_footer {
    max-width: 180px;
    background-size: contain;
  }
}
