.offer__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #424f7b;
  align-self: flex-start;
}

@media screen and (max-width: 474px) {
  .offer__link {
    font-size: 13px;
    line-height: 17px;
    margin-left: 10px;
  }
}
