.offer__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #424f7b;
  align-self: flex-start;
  transition: opacity 1s ease;
}

.offer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .offer__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 475px) {
  .offer__link {
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
  }
}
