.lead {
    max-width: 100%;
    min-height: 845px;
    margin: 0 120px;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1439px) {
    .lead {
        margin: 0 80px;
    }
    
}