.about-us__text {
    margin: 24px 0 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
}

@media screen and (max-width: 1023px) {
    .about-us__text {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 767px) {
    .about-us__text {
        text-align: center;
        margin-bottom: 20px;
    }
    
}