.footer__link {
  display: block;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d9dbde;
}

.footer__link {
  transition: opacity 1s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .footer__link {
    font-size: 14px;
  }
}
