.footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #d9dbde;
  margin: 16px 0 39px;
  max-width: 186px;
}

@media screen and (max-width: 768px) {
  .footer__text {
    margin-bottom: 20px;
    line-height: 25px;
    max-width: 100%;
  }
}
