.offer__symbol-arrow {
  position: relative;
  left: -7px;
  opacity: 0;
  transition: left 0.3s linear, opacity 0.3s linear;
}

.offer__link:hover .offer__symbol-arrow {
  opacity: 1;
  left: 0;
}

@media screen and (max-width: 768px) {
  .offer__symbol-arrow {
    max-width: 15px;
  }
}

@media screen and (max-width: 475px) {
  .offer__symbol-arrow {
    max-width: 13px;
    opacity: 1;
    left: 0;
    transition: none;
  }
}
