.feedback {
  min-height: 627px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .feedback {
    min-height: auto;
    margin-bottom: 60px;
  }
}
