.lead__subtitle {
        max-width: 485px;
        margin: 24px 0 59px;
        padding: 0;
        font-family: 'Inter', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #848FAC;
}

@media screen and (max-width: 1023px) {
        .lead__subtitle {
                font-size: 15px;
                line-height: 120%; 
                margin-bottom: 40px;
        }
        
}