.button {
    min-width: 136px; 
    min-height: 47px;  
    margin: 0;
    padding: 16px 32px;
    background: #0E1734;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    cursor: pointer;
    transition: background-color .3s linear, color .3s linear;
    border: 2px solid #0e1734;
}

.button:hover {
    background-color: #FFF;
    color: #0e1734
}
