.button {
    min-width: 136px; 
    min-height: 47px;  
    margin: 0;
    padding: 0 16px;
    background: #0E1734;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: opacity 1s ease;
}

.button:hover {
    opacity: 0.7;
}